<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Edit Customer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

  <ion-item>
    <ion-label position="floating" >name</ion-label>
  <ion-input  [(ngModel)]="customer.name"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating" >email</ion-label>
  <ion-input  [(ngModel)]="customer.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >mobile</ion-label>
  <ion-input  [(ngModel)]="customer.mobile"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >address</ion-label>
  <ion-input  [(ngModel)]="customer.address"></ion-input>
  </ion-item>
  
  <ion-button (click)="update(customer)">Update</ion-button>
  
  </ion-content>
